<!-- <div>
    <table border="1">
        <tr>
            <th>Id</th>
             <th>Name</th>
             <th>Address</th>
               <th>Gender</th>
               <th>Contact number</th>
                <th>Action</th>
        </tr>
        <tr *ngFor="let v of list">
            <td>{{v.id}}</td>
            <td>{{v.name}}</td>
            <td>{{v.address}}</td>
            <td>{{v.gender}}</td>
            <td>{{v.contact}}</td>
              
            
            <td>
                <button type="submit"(click)="update(f,v)">Edit</button>
                <button type="submit" (click)="delete(v.id)">Delete</button>
            </td>
        </tr>
    </table>
</div>
 -->

 <h1>Booking List</h1>

<table class="table table-success" border="1">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Contact Number</th>
      
      <th scope="col">Action </th>

    </tr>
  </thead>
  <tbody *ngFor="let v of list">
    <tr>
        <td>{{v.id}}</td>
      <td>{{v.name}}</td>
      <td>{{v.address}}</td>
      <td>{{v.gender}}</td>
      <td>{{v.contact}}</td>
      
      <td>
        <button type="submit"(click)="update(v, f)" style=" margin-right: 10px; background-color: green; color: #fff;">Edit</button>
        <button type="submit" (click)="delete(v.id)" style="background-color: red; color: #fff;">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div>
    <h1>Booking List</h1>
    <div>
    
        <h1>Booking Form</h1>
        <form (ngSubmit)= "Submits(f)"  #f="ngForm" >
            <div>
               <input ngModel name="id" type="hidden" > 
            </div>
            <br>
            <div>
                <label for="name">Name</label>
               <input ngModel name="name" type="text"> 
            </div>
            <br>
            <br>
            <div>
                <label for="address">Address</label>
              <textarea  ngModel  name="address" id="address" cols="30" rows="10"></textarea>
            </div>
            <br>
            <div>
                Gender:
                <label for="gender">MALE</label>
               <input ngModel  name = "gender" type="radio" value="Male">
               <label for="gender">FEMALE</label>
               <input ngModel  name = "gender" type="radio" value="feMale"> 
            </div>
            <br>
            <div>
                <label for="contact">Contact Number</label>
               <input ngModel name="contact" type="number"> 
            </div>
            <br>
            <input type="submit" value="Submit">
            <br>
            <br>
            
        </form>
        </div>
    

