
<div style="margin-top: 200px;"></div>
<div style=" margin-bottom: 50px;">
  <h1 style="  color: black; text-align: center;">Property Status List</h1>
</div>


<table class="table table-success" border="1">
  
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Property Id</th>
      <th scope="col">Property Name</th>
      <th scope="col">Property Price</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody *ngFor="let v of list">
    <tr>
        <td>{{v.id}}</td>
      <td>{{v.name}}</td>
      <td>{{v.address}}</td>
      <td>{{v.gender}}</td>
      
      <td>{{v.contactNumber}}</td>
      <td>{{v.propertyId}}</td>
      <td>{{v.propertyName}}</td>
      <td>{{v.propertyPrice}}</td>
      <td>{{v.createdAt}}</td>
    </tr>
  </tbody>
</table>
