
// jjjj
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

.container {
  width: 1100px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.container .box {
  width: calc((100% / 3) - 20px);
  background-color: white;
  position: relative;
}

.container .box:first-of-type:before {
  content: "Featured";
  background-color: #ea723d;
  color: white;
  font-size: 13px;
  padding: 4px 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.container .box:first-of-type:after {
  content: "";
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent transparent #ea723d;
  position: absolute;
  left: 72px;
  top: 0;
  transform: translateY(-50%);
}

.container .box .top {
  position: relative;
  background-color: red;
}

.container .box .top:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(43, 187, 175, 0.829);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.container .box .top:hover:before {
  opacity: 1;
}

.container .box .top:after {
  content: "View Property";
  color: white;
  font-size: 12px;
  padding: 10px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.container .box .top:hover:after {
  opacity: 1;
}

.container .box .top img {
  width: 100%;
  margin-bottom: -4px;
}

.container .box .top span {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: white;
  font-size: 20px;
}

.container .box .top span i {
  margin-left: 5px;
}

.container .box .bottom {
  padding: 20px 15px;
  position: relative;
}

.container .box:not(:last-of-type) .bottom:before {
  content: "Hot";
  background-color: #ea723d;
  color: white;
  font-size: 11px;
  padding: 4px 7px;
  position: absolute;
  left: 20px;
  top: -40px;
  z-index: 1;
}

.container .box .bottom h3 {
  font-size: 15px;
}

.container .box .bottom > p {
  margin: 15px 0;
  font-size: 13px;
  line-height: 1.4;
  color: #777;
}

.container .box .bottom .advants {
  display: flex;
}

.container .box .bottom .advants > div {
  margin-right: 15px;
}

.container .box .bottom .advants > div > span {
  font-weight: bold;
  font-size: 12px;
}

.container .box .bottom .advants > div > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.container .box .bottom .advants > div > div i {
  color: #777;
  font-size: 22px;
}

.container .box .bottom .advants > div > div > span {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.container .box .bottom .advants > div > div > span > span {
  color: #777;
  font-weight: normal;
  margin-left: 5px;
}

.container .box .bottom .price {
  margin-top: 20px;
}

.container .box .bottom .price span:first-of-type {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.container .box .bottom .price span:last-of-type {
  color: #3eaba1;
  font-size: 22px;
}


//   kdkdk
:root {
  --mainColor: #0eaaa6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: var(--mainColor);
}
.container {
  width: 90%;
  background-color: #ccc;
  margin: 20px auto;
  padding: 10px;
}
.container form {
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 25px;
}
.container form input,
.container form select {
  outline: none;
  border: none;
  padding: 10px;
}
.container form select {
  width: 120px;
}
.container form .price {
  position: relative;
}
.container form .price input::-webkit-outer-spin-button,
.container form .price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container form .price input {
  width: 100%;
  padding-left: 45px;
}
.container form .price span {
  display: inline-block;
  padding: 10px 15px;
  color: #000;
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
}
.container form button {
  border: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mainColor);
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
@media (max-width: 1185px) {
  .container form {
    flex-flow: column;
    gap: 20px;
  }
  .container form input,
  .container form select,
  .container form .price,
  .container form button {
    width: 90%;
  }
}
.container .content {
  background-color: var(--mainColor);
  padding-block: 20px;
  text-align: center;
  color: #fff;
}
.container .content h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
  text-transform: capitalize;
}
.container .content p {
  font-style: italic;
}

