


<div class="navHolder navbar-light bg-light fixed-top">

  <div>
  <div class="lang">
    <p>বাংলা</p>
  </div>
</div>

    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">The Address PMS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li>
            <form class="form-inline" class="serch_f">
              <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
              </button>
            </form>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" >Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Add Property</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/contactPage">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">SignUp/Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/productItem">product</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>