<table class="table table-success" border="1" style="margin-top: 100px;">
    <thead>
      <tr>
        <th scope="col">Property Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Type</th>
        <th scope="col">Bedrooms</th>
        <th scope="col">Bathrooms</th>
        <th scope="col">Size </th>
        <th scope="col">Action </th>
  
      </tr>
    </thead>
    <tbody *ngFor="let v of list">
      <tr>
        <td>{{v.name}}</td>
        <td>{{v.description}}</td>
        <td>{{v.price}}</td>
        <td>{{v.category}}</td>
        <td>{{v.type}}</td>
        <td>{{v.bedrooms}}</td>
        <td>{{v.bathrooms}}</td>
        <td>{{v.size}}</td>
        <td>
          <button type="submit"(click)="approve(v)" style=" margin-right: 10px; background-color: green; color: #fff;">Approve</button>
          <button type="submit" (click)="delete(v.id)" style="background-color: red; color: #fff;">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>