

<div style="margin-top: 100px;"></div>

    
<div id="preLoading">
  <div class="backdrop"></div>
<div class="spinner"></div>
</div>

<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="slider">
<figure>
<img src="https://images.pexels.com/photos/2268487/pexels-photo-2268487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="800px" alt="">
<img src="https://images.pexels.com/photos/11260693/pexels-photo-11260693.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="800px">
<img src="https://images.pexels.com/photos/13525370/pexels-photo-13525370.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" height="800px">
<img src="https://images.pexels.com/photos/3419308/pexels-photo-3419308.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" height="800px">
<img src="https://images.pexels.com/photos/8863235/pexels-photo-8863235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" height="800px">
</figure>
</div>


  <div class="container">
    <form (ngSubmit)="submit(f)" #f="ngForm">
      <select [(ngModel)] = "selectedArea" ngModel name="area">
        <option  value="area" selected hidden>Area</option>
       
        <option value="Banasree">Banasree</option>
        <option value="Mirpur">Mirpur</option>
        <option value="Khilgaon">Khilgaon</option>
        <option value="Uttora">Uttora</option>
        <option value="Rampura">Rampura</option>
        <option value="Aftabnagar">Aftabnagar</option>
        <option value="Bashundhara">Bashundhara</option>
        <option value="Dhanmondi">Dhanmondi</option>
        <option value="Gulshan">Gulshan</option>
        <option value="Banani">Banani</option>
        <option value="Mugda">Mugda</option>
        <option value="Basabo">Basabo</option>


        
      </select>
      <select [(ngModel)] = "selectedCategory"  ngModel name="category">
        <option value="category" selected hidden>Category</option>
        <!-- <option value="For Sale">For Sale</option> -->
        <option value="For Rent">For Rent</option>
        <option value="For Buy">For Buy</option>
      </select>
      <select [(ngModel)] = "selectedType" ngModel name="type">
        <option value="type" selected hidden>Type</option>
        <option value="Flat">Flat</option>
        <option value="Building">Building</option>
       
      </select>
      <button type="submit" style="background-color: aqua ; color: #000; height: 30px;">Search</button>
    </form>
    <div class="content" style="margin-left: 30px;">
      <h3>find your dream</h3>
      <p style="color: orange;">
       Countries Biggest Tech-Based Realestate Network THE ADDRESS PMS.
      </p>
    </div>
  </div>
<!-- banner -->



<!-- dynamically added -->
<div class="container row" >
  <div class="col" *ngFor="let i of allProperty">
  <div class="box" (click)="  productClicked(i.id)">
    <div class="top">
      <img  src="{{i.image1}}" alt="" />
      <span
        ><i class="fas fa-heart"></i><i class="fas fa-exchange-alt"></i
      ></span>
    </div>
    <div class="bottom">
      <h3>{{i.name}}</h3>
      <h4>{{i.address}}</h4>
      <h4>{{i.area}}</h4>
      <p>
       {{i.description}}
      </p>
      <p>
       {{i.address}}
      </p>
      <div class="advants">
        <div>
          <span>Bedrooms</span>
          <div><i class="fas fa-th-large"></i><span>{{i.bedrooms}}</span></div>
        </div>
        <div>
          <span>Bathrooms</span>
          <div><i class="fas fa-shower"></i><span>{{i.bathrooms}}</span></div>
        </div>
        <div>
          <span>Size</span>
          <div>
            <i class="fas fa-vector-square"></i
            ><span>{{i.size}}<span>Sq Ft</span></span>
          </div>
        </div>
      </div>
      <div class="price">
        <span>{{i.category}}</span>
        <span>{{i.price}} Tk</span>
      </div>
    </div>

  
   

    
  </div>

</div>
</div>
<div style="float: left;">
  <label for="">Show
    <select [(ngModel)]="tableSize" (change)="pagenUmber()">
      <option value="2">2</option>
      <!-- <option value="10">10</option>
      <option value="20">20</option> -->
      <option value="">All</option>
    </select>
    <!-- entries -->
  </label>
</div>


<div style="float: right;">
  <pagination-controls style="font-size: 20px; font-weight: bold;"
  previousLabel="Prev"
  nextLabel="Next"
  (pageChange)="onTableSizechange($event)"
  >

  </pagination-controls>
</div>



<!-- jjjj -->

  
